<div class="container">
  <div class="row">
    <div class="col-12 mt-2 ml-2">
      <h1>Coin Information</h1>
      <p>Implement a directive to click outside!!</p>
      <!-- implement spinner after loading -->
    </div>
  </div>
</div>
