<div class="container">
  <div class="row">
    <div class="col">
      <div class="pt-3 table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Short Name</th>
              <th>Name</th>
              <th>Currency</th>
              <th>Price</th>
              <th>Rate</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coin of coins">
              <td>{{ coin.shortName }}</td>
              <td>{{ coin.name }}</td>
              <td>
                {{ coin.currency }}
              </td>
              <td>{{ coin.price | currency: "USD":number:"1.2-2" }}</td>
              <td>{{ coin.rate | percent }}</td>
              <td>
                <button
                  class="btn btn-primary btn-sm mr-2"
                  (click)="editCoin(coin)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="shareCoin(coin)"
                >
                  Information
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
