/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap");

$font-family-sans-serif: "Jost", sans-serif;

$primary: #929284 !default;
$secondary: #101933 !default;
$success: #319080 !default;
$info: #4dbedb !default;
$warning: #eba752 !default;
$danger: #d54343 !default;
$light: #9fa7af !default;
$dark: #0f1319 !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
