<div class="container">
  <div class="row">
    <div class="col pt-3">
      <div class="d-flex d-flex justify-content-between mt-3">
        <h1 class="">
          <i class="fas fa-money-check-alt pr-2"></i>Add Currency
        </h1>
      </div>
      <form [formGroup]="currencyForm">
        <div class="form-group">
          <label for="shortName"
            ><i class="far fa-caret-square-right pr-2"></i>Short Name</label
          >
          <input
            type="text"
            class="form-control"
            id="shortName"
            formControlName="shortName"
          />
        </div>

        <div class="form-group">
          <label for="name"
            ><i class="far fa-caret-square-right pr-2"></i>Name</label
          >
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>

        <div class="form-group">
          <label for="emisor"
            ><i class="far fa-caret-square-right pr-2"></i>Emisor</label
          >
          <input
            type="text"
            class="form-control"
            id="emisor"
            formControlName="emisor"
          />
        </div>

        <button
          class="btn btn-sm btn-primary"
          type="submit"
          (click)="goToCurrencies()"
        >
          <i class="fas fa-arrow-alt-circle-left pr-2"></i>
          Cancel
        </button>
        <button
          class="btn btn-sm btn-secondary ml-3"
          type="submit"
          (click)="addCoin()"
          [disabled]="validateCurrencyForm()"
        >
          <i class="far fa-edit pr-2"></i>
          Add Currency
        </button>
      </form>
    </div>
  </div>
</div>
