<div class="container">
  <div class="row">
    <div class="col-12">
      <button
        [disabled]="disableTab()"
        type="button"
        class="btn btn-secondary stats-btn"
        (click)="hideStatisticsTab()"
      >
        Statistics
      </button>
    </div>
  </div>
</div>
<div
  class="container-fluid bg-secondary statistics-section"
  [ngClass]="activeTab ? 'statistics-section' : 'statistics-section-off'"
>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <tabset>
          <tab
            class="bg-white tab-content"
            customClass="statistics-tab-link"
            heading="Information"
            id="tab1"
          >
            <div>
              <app-coin-information
                [coinInformationId]="coinId"
              ></app-coin-information>
            </div>
          </tab>
          <tab class="bg-white tab-content" heading="Graphics">
            <app-coin-chart></app-coin-chart>
          </tab>
          <tab class="bg-white tab-content" heading="Uploads">
            <app-coin-uploads></app-coin-uploads>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
