.stats-btn {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.statistics-section {
  height: 300px;
  transition: 0.3s all;
}

.statistics-section-off {
  height: 0;
}

.tab-content {
  min-height: 300px;
}

.statistics-tab-link {
}
