<div class="container">
  <div class="row">
    <div class="col">
      <div class="pt-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Name</th>
              <th>Country</th>
              <th>Permission</th>
              <th>Clearence</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coinOperator of coinOperators">
              <td>{{ coinOperator.name }}</td>
              <td>{{ coinOperator.lastName }}</td>
              <td>{{ coinOperator.country }}</td>
              <td>{{ coinOperator.permission }}</td>
              <td>{{ coinOperator.clearance }}</td>
              <td>
                <button class="btn btn-primary btn-sm">
                  Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
