<div class="container">
  <div class="row">
    <div class="col pt-3">
      <div class="d-flex d-flex justify-content-between mt-3">
        <h1 class="">
          <i class="fas fa-money-check-alt pr-2"></i>Add Coin Operator
        </h1>
      </div>
      <form [formGroup]="coinOperatorsForm">
        <div class="form-group">
          <label for="name"
            ><i class="far fa-caret-square-right pr-2"></i>Name</label
          >
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>

        <div class="form-group">
          <label for="lastName"
            ><i class="far fa-caret-square-right pr-2"></i>Last Name</label
          >
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
        </div>

        <div class="form-group">
          <select
            name="country"
            id="country"
            formControlName="country"
            (change)="onchangeCountry($event.target.value)"
          >
            <option [value]="country.name" *ngFor="let country of countries">{{
              country.name
            }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="permission"
            ><i class="far fa-caret-square-right pr-2"></i>Permission</label
          >
          <input
            type="text"
            class="form-control"
            id="permission"
            formControlName="permission"
          />
        </div>

        <div class="form-group">
          <label for="clearance"
            ><i class="far fa-caret-square-right pr-2"></i>Clearance</label
          >
          <input
            type="text"
            class="form-control"
            id="clearance"
            formControlName="clearance"
          />
        </div>

        <button
          class="btn btn-sm btn-primary"
          type="submit"
          (click)="goToCoins()"
        >
          <i class="fas fa-arrow-alt-circle-left pr-2"></i>
          Cancel
        </button>
        <button
          class="btn btn-sm btn-secondary ml-3"
          type="submit"
          (click)="addCoinOperator()"
          [disabled]="validateCurrencyForm()"
        >
          <i class="far fa-edit pr-2"></i>
          Add Currency
        </button>
      </form>
    </div>
  </div>
</div>
