<div class="container">
  <div class="row">
    <div class="col pt-3">
      <div class="d-flex d-flex justify-content-between mt-3">
        <h1 class="">
          <i class="fas fa-money-check-alt pr-2"></i>{{ headTitle }} Coin
        </h1>
      </div>
    </div>
  </div>

  <form [formGroup]="coinForm">
    <div class="row mt-5">
      <div class="col-md-6">
        <label for="shortName"
          ><i class="far fa-caret-square-right pr-2"></i>Short Name</label
        >
        <input
          type="text"
          class="form-control"
          id="shortName"
          formControlName="shortName"
        />
      </div>

      <div class="col-md-6">
        <label for="name"
          ><i class="far fa-caret-square-right pr-2"></i>Name</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>

      <div class="col-md-4 mt-5">
        <div class="form-group">
          <label for="currency"
            ><i class="far fa-caret-square-right pr-2"></i>Currencies</label
          >
          <select
            name="currency"
            id="currency"
            class="mt-3 ml-4 pl-2"
            formControlName="currency"
            (change)="onchangeCurrency($event.target.value)"
            [(ngModel)]="defaultSelect"
          >
            <option
              [value]="currency.name"
              *ngFor="let currency of currencies; let i = index"
              >{{ currency.name }} / {{ currency.shortName }}</option
            >
          </select>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <label for="price"
          ><i class="far fa-caret-square-right pr-2"></i>Price</label
        >
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
        />
      </div>

      <div class="col-md-4 mt-4">
        <label for="rate"
          ><i class="far fa-caret-square-right pr-2"></i>Rate</label
        >
        <input
          type="number"
          class="form-control"
          id="rate"
          formControlName="rate"
        />
      </div>
    </div>
    <div class="row mt-5 ml-1">
      <button
        class="btn btn-sm btn-primary"
        type="submit"
        (click)="goToCoins()"
      >
        <i class="fas fa-arrow-alt-circle-left pr-2"></i>
        Cancel
      </button>
      <button
        class="btn btn-sm btn-secondary ml-3"
        type="submit"
        (click)="addCoin()"
        [disabled]="validateCoinForm()"
      >
        <i class="far fa-edit pr-2"></i>
        {{ headTitle }} Coin
      </button>
    </div>
  </form>
</div>
