<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 pt-3">
      <div class="d-flex d-flex justify-content-between mt-3">
        <h1 class="">Coin Operators</h1>
        <div class="button-container">
          <button class="btn btn-secondary" (click)="addCoinOperator()">
            Add Coin Operator
          </button>
        </div>
      </div>
      <div *ngIf="!isLoading; else spinner">
        <app-coin-operators-list
          [coinOperators]="coinOperators"
        ></app-coin-operators-list>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 50vh;"
  >
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
