<div class="container">
  <div class="row">
    <div class="col">
      <div class="pt-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Short Name</th>
              <th>Name</th>
              <th>Emisor</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let currency of currencies">
              <td>{{ currency.shortName }}</td>
              <td>{{ currency.name }}</td>
              <td>{{ currency.emisor }}</td>
              <td>
                <button class="btn btn-primary btn-sm">
                  Details
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
