<nav
  class="navbar navbar-expand-lg navbar-expand-sm navbar-light sticky-top shadow bg-primary"
>
  <div class="container">
    <div class="row">
      <a class="navbar-brand thelema-logo pr-5" href="#"
        ><i class="fab fa-bitcoin pr-2"></i><strong>Coin Manager</strong></a
      >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link thelema-header-link" [routerLink]="['']"
              ><i class="fas fa-home pr-2"></i>Home</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['coins']"
              ><i class="fab fa-gg pr-2"></i>Crypto</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['currencies']"
              ><i class="far fa-money-bill-alt pr-2"></i>Currencies</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['currencies']"
              ><i class="fas fa-table pr-2"></i>Reports</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['currencies']"
              ><i class="fas fa-tasks pr-2"></i>Requests</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['currencies']"
              ><i class="fas fa-calculator pr-2"></i>Calculator</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['operators']"
              ><i class="fas fa-user-shield pr-2"></i>Operators</a
            >
          </li>
          <li class="nav-item thelema-header-link">
            <a class="nav-link" [routerLink]="['currencies']"
              ><i class="fas fa-users pr-2"></i>Customers</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
